blockquote {
    margin: 12rem 0rem 0rem 0rem !important;
    padding: 12rem 5rem 12rem 5rem;
    height: 100%;
    //styleName: Paragraph/Body Text - xs (10px);
    font-family: GT Walsheim Pro;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;

}